input.ng-valid{
    border-left:5px solid green ;
}

input.ng-invalid{
    border-left:5px solid red ;
}

span{
    color:red;
  font-family: "Lucida Console", "Courier New", monospace;
    font-size: small;
}

label {
    font-weight: 600;
    color: #555;
}

.container{
    margin-top:100px;
   }

.form-group{
    margin-bottom: 30px;
}
